<server description="Jakarta EE demo Liberty server with Microprofile">
	<featureManager>
		<feature>webProfile-8.0</feature>
		<feature>microProfile-3.2</feature>
	</featureManager>

	<httpEndpoint httpPort="${default.http.port}"
		httpsPort="${default.https.port}" id="defaultHttpEndpoint" host="*" />

	<webApplication location="jakarta-ee-demo.war"
		contextRoot="${app.context.root}" />

	<library id="derbyJDBCLib">
		<fileset dir="${shared.resource.dir}" includes="derby*.jar" />
	</library>
	<dataSource id="jpadatasource" jndiName="jdbc/jpadatasource">
		<jdbcDriver libraryRef="derbyJDBCLib" />
		<properties.derby.embedded
			databaseName="libertyDB" createDatabase="create" />
	</dataSource>
</server>
